@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

 * {
   margin: 0;
   padding: 0;
   border: 0;
}

.container-fluid {
width: 100%;
}

.navbar {
font-size: 20px;
border-bottom: 1px solid black;
}

.navbar-brand {
font-size: 25px;
letter-spacing: none;
color: black;
font-family: 'Akaya Telivigala', cursive;
}

.navbar-brand:hover {
color: black;
transform: scale(1.03);
 -webkit-transform: scale(1.03);
 
}

.nav-link{
color: black;
font-size: 25px;
font-family: 'Akaya Telivigala', cursive;
margin-left: 40px;

}

.nav-link:hover {
color: black;
transform: scale(1.03);
-webkit-transform: scale(1.03);
}

div.hero-image {
  background-image: url("https://media.cntraveler.com/photos/56e79f7c83180b3e107eb020/master/w_2048,h_1536,c_limit/cliffs-of-moher-ireland-cr-getty.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  }

div#text-block-header {
text-align: center;
opacity: 0.85;
color: white;
font-family: 'Akaya Telivigala', cursive;
 }

 @media only screen and (max-width: 319.9px) {
  div#text-block-header{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
  }
}

 @media only screen and (min-width: 320px) {
  div#text-block-header{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
  }
}

@media only screen and (min-width: 414px) {
  div#text-block-header{
    font-size: 40px;
    text-align: center;
    font-size: 45px;
    padding-top: 50px;
  }
}

@media only screen and (min-width: 540px) {
  div#text-block-header{
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
  }
}

@media only screen and (min-width: 768px) {
  div#text-block-header{
    font-size: 70px;
    text-align: center;
    padding-top: 60px;
  }
}

@media only screen and (min-width: 1024px) {
  div#text-block-header{
   font-size: 90px;
    text-align: center;
    padding-top: 60px;
  }
}

@media only screen and (min-width: 1224px) {
  div#text-block-header{
    font-size: 90px;
    text-align: center;
    padding-top: 80px;
  }
}

#hello-button{
color: black;
font-family: 'Akaya Telivigala', cursive;
font-size: 25px;
opacity: 0.9;
border-radius: 15px;
text-align: center;

 }

 @media only screen and (max-width: 319.9px) {
  #hello-button{
    padding: 2px;
    margin-left: 50px;
  }
}

 @media only screen and (min-width: 320px) {
  #hello-button{
    padding: 4px;
    margin-left: 70px;
    font-size: 22px;
    margin-top: 10px;
    
  }
}

@media only screen and (min-width: 375px) {
  #hello-button{
    padding: 5px;
    margin-left: 99px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 414px) {
  #hello-button{
    padding: 6px;
    margin-left: 117px;
    margin-top: 10px;
}

@media only screen and (min-width: 540px) {
  #hello-button{
    padding: 6px;
    margin-left: 185px;
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  #hello-button{
   padding: 8px;
   margin-left: 295px;
   margin-top: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  #hello-button{
    margin-left: 425px;
    padding: 8px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1224px) {
  #hello-button{
    margin-left: 610px;
    padding: 8px;
     margin-top: 10px;
  }
}
 
.about-page-hero-image {
  background-image: url("https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Ireland/Dublin/Dublin-nightlife-the-templebar-district-xlarge.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
}

h1#about-text-block-header  {
text-align: center;
opacity: 0.85;
position: absolute;
color: white;
font-family: 'Akaya Telivigala', cursive;
}

@media screen and (max-width: 319px) {
h1#about-text-block-header{
font-size: 53px;
margin-top: 165px;
margin-left: 36px;
text-align: center;
}
}

@media screen and (min-width: 320px) {
h1#about-text-block-header{
font-size: 53px;
margin-top: 165px;
margin-left: 54px;
text-align: center;
}
}

@media screen and (min-width: 375px) {
h1#about-text-block-header{
font-size: 53px;
margin-top: 165px;
margin-left: 79px;
text-align: center;
}
}



@media screen and (min-width: 414px) {
h1#about-text-block-header{
font-size: 63px;
margin-top: 165px;
margin-left: 80px;
text-align: center;
}
}

@media screen and (min-width: 540px) {
h1#about-text-block-header{
font-size: 63px;
margin-top: 165px;
margin-left: 140px;
text-align: center;
}
}


@media screen and (min-width: 768px) {
h1#about-text-block-header{
font-size: 83px;
margin-top: 150px;
margin-left: 195px;
text-align: center;
}
}

@media screen and (min-width: 992px) {
h1#about-text-block-header {
font-size: 90px;
margin-top: 180px;
margin-left: 310px;
text-align: center;

}
}


@media screen and (min-width: 1224px) {
h1#about-text-block-header{
 margin-right: 10px;
font-size: 130px;
text-align: center;
opacity: 0.85;
}
}


.card {
margin-top: 15px;
font-family: 'Akaya Telivigala', cursive;
margin-bottom: 15px;
background-color: white;
border: 0px white;
border-radius: 25px;
}

.card-img-top {
height: 300px;
border-radius: 25px;
width: 100%;
cursor: pointer;}

img:hover {
transform: scale(1.01);
}

.card-title {
font-size: x-large;
text-align: center;
}

.card-text {
font-size: 20px;
text-align: center;
}

.btn {
margin-top: 10px;
border-radius: 10px;
padding: 12px;
background-color: rgb(0, 132, 255);
font-size: 18px;
color: white;

}

h1#ourtips-header {
font-family: 'Akaya Telivigala', cursive;
font-size: 25px;
text-align: center;
}

@media screen and (min-width: 768px) {
h1#ourtips-header {
font-size: 33px;
margin: 15px;
margin-left: 29px;
text-align: center;
}
}

@media screen and (min-width: 992px) {
h1#ourtips-header {
font-size: 43px;
margin: 15px;
margin-left: 41px;
text-align: center;
}
}


@media screen and (min-width: 1204px) {
h1#ourtips-header {
 margin-top: 15px;
 margin-bottom: 15px;
font-size: 45px;
text-align: center;
}
}

label{
font-family: 'Akaya Telivigala', cursive;
font-size: 30px;
color: white;
letter-spacing: 1px;
font-weight: 700;
text-align: center;
}



#send-message-header{
font-size: 35px;
font-family: 'Akaya Telivigala', cursive;
margin: 10px;
text-align: center;
color: white;
}

.contact-hero-image{
  background-image: url("https://i.pinimg.com/originals/5a/f7/ed/5af7ed231a30a8615f9d2320d370456c.jpg");
  height: 990px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.send-message-button {
background-color: coral;
color:white
}

.send-message-button:hover {
transform: scale(1.03);
color: white;
}

@media screen and (max-width: 414px) {
 #send-message-header{
 margin-top: 15px;
 margin-bottom: 15px;
font-size: 27px;
text-align: center;
}
}

#contact-us-header {
color: white;
text-align: center;
font-family: 'Akaya Telivigala', cursive;
margin-top: 15px;
font-size: 40px;
}

@media screen and (max-width: 414px) {
 #contact-us-header {
 font-size: 30px;
}
}

@media screen and (max-width: 768px) {
 .contact-hero-image{
 background-image: url("https://i.pinimg.com/originals/5a/f7/ed/5af7ed231a30a8615f9d2320d370456c.jpg");
  height: 1200px;
}
}

@media screen and (max-width: 319px) {
 .contact-hero-image{
 background-image: url("https://i.pinimg.com/originals/5a/f7/ed/5af7ed231a30a8615f9d2320d370456c.jpg");
  height: 1300px;
}
}



























