@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

 * {
   margin: 0;
   padding: 0;
   border: 0;
   
  }

.container-fluid {
width: 100%;

}

.navbar {
font-size: 20px;
border-bottom: 1px solid black;
}

.navbar-nav {
color: black;
}

.navbar-nav:hover {
color: black;
}

.navbar-brand {
font-size: 25px;
letter-spacing: 1px;
color: #000000;
margin-left: 0px;
font-family: 'Akaya Telivigala', cursive;
}

.navbar-brand:hover {
color: purple;
transform: scale(1.01);
 -webkit-transform: scale(1.01);
 
}

.nav-link{
color: #000000;
font-size: 25px;
font-family: 'Akaya Telivigala', cursive;
margin-left: 40px;

}

.nav-link:hover {
color: purple;
transform: scale(1.01);

}

div.hero-image {
  background-image: url("https://media.cntraveler.com/photos/56e79f7c83180b3e107eb020/master/w_2048,h_1536,c_limit/cliffs-of-moher-ireland-cr-getty.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  }

div#text-block-header {
padding: 5px;
text-align: center;
opacity: 0.85;
font-size: 30px;
color: white;
font-family: 'Akaya Telivigala', cursive;
 }

 @media only screen and (max-width: 319.9px) {
  div#text-block-header{
    margin-left: 4px;
    margin-top: 55px;
    font-size: 40px;
    text-align: center;
  }
}

 @media only screen and (min-width: 320px) {
  div#text-block-header{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
  }
}

@media only screen and (min-width: 414px) {
  div#text-block-header{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    margin-right: 6px;
  }
}

@media only screen and (min-width: 540px) {
  div#text-block-header{
    margin-top: 90px;
    font-size: 60px;
    text-align: center;
    margin-right: 6px;
  }
}

@media only screen and (min-width: 768px) {
  div#text-block-header{
    margin-left: 10px;
    margin-top: 70px;
    font-size: 90px;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  div#text-block-header{
    margin-left: 10px;
    margin-top: 70px;
    font-size: 90px;
    text-align: center;
  }
}

@media only screen and (min-width: 1224px) {
  div#text-block-header{
    margin-top: 150px;
    font-size: 90px;
    text-align: center;
  }
}

#hello-button{
color: black;
font-family: 'Akaya Telivigala', cursive;
 }

 @media only screen and (max-width: 319.9px) {
  #hello-button{
    margin-left: 73px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    padding: 8px;
    opacity: 0.9;
  }
}

 @media only screen and (min-width: 320px) {
  #hello-button{
    margin-left: 75px;
    margin-top: 5px;
    font-size: 25px;
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    opacity: 0.9;
  }
}

@media only screen and (min-width: 375px) {
  #hello-button{
    margin-left: 90px;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    opacity: 0.9;
  }
}

@media only screen and (min-width: 414px) {
  #hello-button{
    margin-left: 95px;
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    opacity: 0.9;
  }
}

@media only screen and (min-width: 540px) {
  #hello-button{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    margin-left: 195px;
    padding: 8px;
    border-radius: 15px;
    opacity: 0.9;
  }
}

@media only screen and (min-width: 768px) {
  #hello-button{
    margin-top: 15px;
    margin-left: 260px;
    font-size: 40px;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    opacity: 0.9;
  }
}

@media only screen and (min-width: 1024px) {
  #hello-button{
    margin-top: 10px;
    margin-left: 365px;
    font-size: 35px;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    opacity: 0.9;
  }
}

@media only screen and (min-width: 1224px) {
  #hello-button{
    margin-top: 15px;
    margin-left: 580px;
    font-size: 35px;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    opacity: 0.9;
  }
}
 

 .about-page-hero-image {
  background-image: url("https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Ireland/Dublin/Dublin-nightlife-the-templebar-district-xlarge.jpg");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
}

h1#about-text-block-header  {
text-align: center;
opacity: 0.85;
position: absolute;
color: white;
font-family: 'Akaya Telivigala', cursive;
}

@media screen and (max-width: 319px) {
h1#about-text-block-header{
font-size: 53px;
margin-top: 165px;
margin-left: 36px;
text-align: center;
}
}

@media screen and (min-width: 320px) {
h1#about-text-block-header{
font-size: 53px;
margin-top: 165px;
margin-left: 54px;
text-align: center;
}
}

@media screen and (min-width: 375px) {
h1#about-text-block-header{
font-size: 53px;
margin-top: 165px;
margin-left: 79px;
text-align: center;
}
}



@media screen and (min-width: 414px) {
h1#about-text-block-header{
font-size: 63px;
margin-top: 165px;
margin-left: 80px;
text-align: center;
}
}

@media screen and (min-width: 540px) {
h1#about-text-block-header{
font-size: 63px;
margin-top: 165px;
margin-left: 140px;
text-align: center;
}
}


@media screen and (min-width: 768px) {
h1#about-text-block-header{
font-size: 83px;
margin-top: 150px;
margin-left: 195px;
text-align: center;
}
}

@media screen and (min-width: 992px) {
h1#about-text-block-header {
font-size: 90px;
margin-top: 180px;
margin-left: 310px;
text-align: center;

}
}


@media screen and (min-width: 1224px) {
h1#about-text-block-header{
 margin-right: 10px;
font-size: 130px;
text-align: center;
opacity: 0.85;
}
}


.card {
margin-top: 15px;
font-family: 'Akaya Telivigala', cursive;
margin-bottom: 15px;
background-color: white;
border: 0px white;
border-radius: 25px;
}

.card-img-top {
height: 300px;
border-radius: 25px;
width: 100%;
cursor: pointer;}

img:hover {
transform: scale(1.01);
}

.card-title {
font-size: x-large;
text-align: center;
}

.card-text {
font-size: large;
text-align: center;
}

.btn {
margin-top: 10px;
}

h1#ourtips-header {
font-family: 'Akaya Telivigala', cursive;
font-size: 25px;
text-align: center;
}

@media screen and (min-width: 768px) {
h1#ourtips-header {
font-size: 33px;
margin: 15px;
margin-left: 29px;
text-align: center;
}
}

@media screen and (min-width: 992px) {
h1#ourtips-header {
font-size: 43px;
margin: 15px;
margin-left: 41px;
text-align: center;
}
}


@media screen and (min-width: 1204px) {
h1#ourtips-header {
 margin-top: 15px;
 margin-bottom: 15px;
font-size: 45px;
text-align: center;
}
}




















